<article class="dark">
  <header>
    <h1>First article</h1>
    <h3><i class="fas fa-calendar-alt"></i> 6 Jan</h3>
  </header>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ipsum modi
    consequatur facilis, eos dolorum natus nemo id dolore harum hic nulla
    expedita, non sint. Quae tempora sint facilis corrupti?Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Voluptates expedita consequuntur
    blanditiis minus provident facilis saepe odio, ipsum nisi sunt molestiae?
    Libero deserunt quae, architecto distinctio itaque quod placeat velit! Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Minima recusandae
    consectetur modi ipsum. Eligendi delectus repudiandae placeat voluptate,
    reprehenderit nostrum cumque. Necessitatibus voluptatum officiis, hic
    pariatur accusamus repellat minima debitis.
  </p>
  <footer>
    <ul class="tags">
      <li>
        <i class="fas fa-tags"></i>
      </li>
      <li>newbie</li>
      <li>first</li>
      <li>article</li>
    </ul>
  </footer>
</article>
