footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 80ch);
  margin-inline: auto;
  padding: 1em;
  color: var(--primary-txt);
}
.socials {
  a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;
    color: var(--primary-txt);

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
      padding: 0.4em;
      color: var(--primary-txt);
      font-size: 0.9rem;
      background: var(--primary-bg-light);
      border-radius: 4px;
      opacity: 0;
      transition: all 200ms;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 130%);
      border: 5px solid #fff;
      border-color: var(--primary-bg-light) transparent transparent transparent;
      opacity: 0;
      transition: all 100ms;
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover span {
      opacity: 1;
      transform: translate(0%, -50%);
    }
  }
}
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
}
