footer {
  display: flex;
  justify-content: space-between;
  width: min(100%, 80ch);
  margin-inline: auto;
  padding: 1em;
  color: #fff;
}
.socials {
  margin-left: auto;
  a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
      padding: 0.4em;
      color: #212121;
      font-size: 0.9rem;
      background: #fff;
      border-radius: 4px;
      opacity: 0;
      transition: all 200ms;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      border: 5px solid #fff;
      border-color: #fff transparent transparent transparent;
      opacity: 0;
      transition: all 100ms;
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover span {
      opacity: 1;
      transform: translate(0%, -100%);
    }
  }
}
@media only screen and (max-width: 600px) {
  .socials {
    margin-right: auto;
  }
}
