<footer>
  <div class="socials flex">
    <a target="_blank" href="https://github.com/imsorx"><i class="ri-github-fill"></i><span>Github</span></a>
    <a target="_blank" href="https://steamcommunity.com/id/imsorx"><i class="ri-steam-fill"></i><span>Steam</span></a>
    <a target="_blank" href="https://www.instagram.com/imsorx/"><i class="ri-instagram-fill"></i><span>Instagram</span></a>
    <a target="_blank" href="mailto:srbhkp@gmail.com"><i class="ri-mail-fill"></i><span>Mail</span></a>
  </div>
</footer>
