<footer>
  <div class="socials verticle-center">
    <a target="_blank" href="https://github.com/imsorx" rel="noopener">
      <i class="ri-github-fill"></i><span>Github</span>
    </a>
    <a
      target="_blank"
      href="https://steamcommunity.com/id/imsorx"
      rel="noopener"
    >
      <i class="ri-steam-fill"></i><span>Steam</span>
    </a>
    <a target="_blank" href="https://www.instagram.com/imsorx/" rel="noopener">
      <i class="ri-instagram-fill"></i><span>Instagram</span>
    </a>
    <a target="_blank" href="mailto:srbhkp@gmail.com" rel="noopener">
      <i class="ri-mail-fill"></i><span>Mail</span>
    </a>
  </div>
</footer>
