header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.logo {
  font-size: 2.9em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--primary-txt);
  user-select: none;
  margin-bottom: 1em;
  p {
    font-family: "Raleway";
    text-align: center;
    &:last-child {
      letter-spacing: 0.4em;
      font-size: 0.32em;
      font-weight: 400;
    }
  }
}
.nav-links{
  display: flex;
}
nav {
  display: flex;
  position: relative;
}

button {
  height: 35px;
  width: 35px;
  color: var(--primary-txt);
  font-size: 1.5em;
  border: none;
  background: none;
  cursor: pointer;

  &.nav-toggle{
    display: none;
  }
  &.theme-toggle{
    font-size: 1em;
    margin-left: 0.5em;
  }
}

nav > a {
  display: flex;
  align-items: center;
  padding: 0.3em 0;
  position: relative;
  font-size: 1em;
  color: var(--primary-txt);
  &::after {
    content: "";
    position: absolute;
    bottom: -0.2em;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--primary-txt);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 300ms;
  }
}

nav > a.active::after {
  transform: scaleY(1);
}

nav > a ~ a {
  margin-left: 1em;
}
@media only screen and (max-width: 600px) {
  .logo {
    margin-bottom: 0;
    font-size: 2.5em;
    p {
      text-align: left;
      &:last-child {
        display: none;
      }
    }
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;
  }
  button.nav-toggle {
    display: block;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-bg);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 10;
  }
  nav.open {
    transform: translateX(0) scaleY(1);
  }
  nav a {
    margin: 0 !important;
    padding: 0.5em 0;
    margin-bottom: 1em !important;
    color: var(--primary-txt-light);
    &.active {
      color: var(--primary-txt);
      &::after {
        content: none;
      }
    }
  }
}
