<section>
  <img width="200px" src="assets/images/avatar.png" alt="avatar" />
  <h1>Hello, I'm Sourabh Patel</h1>
  <h2>
    I'm a
    <span class="wrapper">
      <span>Developer by Day🌞 </span><span>Gamer by Night🌙</span>
    </span>
  </h2>
  <p>
    with experience in
    <span data-info="MongoDB ExpressJS Angular NodeJS">MEAN</span>
    and <span data-info="Laravel Apache MySQL PHP">LAMP</span> Stack.
  </p>
  <ul class="socials">
    <li>
      <a href="mailto:srbhkp@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://github.com/imsorx">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://steamcommunity.com/id/imsorx">
        <i class="fab fa-steam"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://facebook.com/imsorx">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://instagram.com/imsorx">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</section>
