<section>
  <h1>Timeline</h1>
  <ul>
    <li>
      <div class="left">
        <span>2013</span>
        <p>High School - M.P. Board</p>
      </div>
    </li>
    <li>
      <div class="left">
        <span>2015</span>
        <p>Senior High School - M.P. Board</p>
      </div>
    </li>
    <li>
      <div class="left">
        <span>2020</span>
        <p>University - IPS Academy, Indore</p>
        <p>B.E.</p>
      </div>
    </li>
    <li>
      <div class="left">
        <span>2020</span>
        <p>Gammastack, Indore</p>
        <p>Solution Engineer</p>
      </div>
    </li>
  </ul>
</section>
