<ng-container *ngIf="!isEmpty; else noposts">
  <article *ngFor="let post of posts">
    <h1>{{ post.title }}</h1>
    <img [src]="post.cover" width="100%" height="200px" [alt]="post.title" />
    <p>{{ post.description }}</p>
    <a [routerLink]="post.file">Read more</a>
  </article>
</ng-container>

<ng-template #noposts>
  <p align="center">Oops...he forgot to post a single post 😓😐</p>
</ng-template>

<ng-container *ngIf="isFailed">
  <p align="center">Oops Github's server is not responding...🤷‍♂️</p>
</ng-container>
