.wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  padding: 5vh 0;
  h1 {
    font-family: "Concert one";
    font-size: 20vh;
    font-weight: bold;
    position: relative;
    margin: -8vh 0 0;
    padding: 0;
    &:after {
      content: attr(data-text);
      font-family: "Concert one";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      color: transparent;
      background: linear-gradient(
        -45deg,
        var(--primary-accent),
        var(--secondary-accent)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 300%;
      text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.25);
      animation: animateTextBackground 2s ease-in-out infinite;
    }
  }
}

.quote {
  text-align: center;
  hr {
    margin-bottom: 1em;
  }
  & * {
    font-family: "Bitter";
  }
}
@keyframes animateTextBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
