ul {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    div {
      display: flex;
      padding-left: 2.5em;

      article {
        margin-left: auto;
        padding-bottom: 2em;
        text-align: right;
        p {
          line-height: 2;
        }
      }
    }

    //Dot
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0px;
      width: 12px;
      height: 12px;
      border: 3px solid transparent;
      border-radius: 50%;
      background-color: var(--primary-accent);
      transition: all 200ms ease-in-out;
    }

    //line
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 26px;
      left: 8px;
      bottom: 0;
      width: 2px;
      background-color: var(--primary-accent);
    }

    &:last-child::after {
      content: none;
    }

    &:hover::before {
      border-color: var(--primary-accent);
      background-color: transparent;
    }
  }
}
