:root {
  --primary-accent: #2feaa8;
  --secondary-accent: #028cf3;
  --primary-txt: #fff;
  --secondary-txt: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  position: relative;
  height: 100vh;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: #212121;
  background-image: linear-gradient(
    90deg,
    var(--primary-accent) 0%,
    var(--secondary-accent) 100%
  );
  //Mozilla Scrolbars
  scrollbar-width: thin;
  scrollbar-color: #fff var(--secondary-accent);
}

::selection {
  background: #212121;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--secondary-accent);
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #fff;
  i {
    font-size: 1.2em;
  }
}

ul {
  padding-left: 1em;
  list-style: none;

  li {
    line-height: 2;
    font-family: "Bitter", serif;
    &::marker {
      content: "\EA6E";
      line-height: 2;
      font-size: 0.9em;
      font-family: remixicon !important;
      font-style: normal;
    }
  }
}

main {
  position: relative;
  width: min(95%, 80ch);
  margin-inline: auto;
  padding: clamp(1.66em, 5%, 4rem);
  background: #fff;
  border-radius: 4px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 1em;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      var(--secondary-accent) 0%,
      var(--primary-accent) 100%
    );
    filter: blur(5vw) contrast(1.5) brightness(1.2);
    animation: pulse 2000ms ease-in-out infinite alternate;
    z-index: -1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
    border-radius: 50% 0;
  }
  25% {
    border-radius: 25% 25%;
  }
  50% {
    border-radius: 50% 0;
  }
  100% {
    border-radius: 0;
    opacity: 1;
  }
}
