:root {
  --accent: hsl(37, 92%, 51%);
  --accent-light: hsl(37, 98%, 70%);
  --accent-dark: hsl(35, 92%, 40%);
  --primary-txt: hsl(0, 0%, 5%);
  --primary-txt-light: hsl(0, 0%, 30%);
  --secondary-txt: hsl(0, 0%, 100%);
  --primary-bg: hsl(0, 0%, 100%);
  --primary-bg-light: hsl(0, 0%, 97%);
  --secondary-bg: hsl(0, 0%, 10%);
}
.dark {
  --primary-txt: hsl(0, 0%, 100%);
  --primary-txt-light: hsl(0, 0%, 70%);
  --secodary-txt: hsl(0, 0%, 5%);
  --primary-bg: hsl(0, 0%, 10%);
  --primary-bg-light: hsl(0, 0%, 18%);
  --secondary-bg: hsl(0, 0%, 90%);
  &::after{
    filter: invert(0%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  position: relative;
  font-size: 16px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-bg);

  //Mozilla Scrolbars
  scrollbar-width: thin;
  scrollbar-color: #fff #212122;
  // overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/bg/ocean.jpg");
    filter: invert(100%);
    animation: scroll 30s linear infinite alternate;
    z-index: -1;
  }
}
body {
  overflow-y: scroll; // Always show to avoid abrupt layout shift
  overflow-x: hidden;
}
::selection {
  background: var(--accent-dark);
  color: var(--secondary-txt);
}

::-webkit-scrollbar {
  width: 8px;
  background: #212121;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: var(--secondary-txt);
  i {
    font-size: 1.2em;
  }
}

ul {
  padding-left: 1em;
  list-style: none;

  li {
    line-height: 2;
    font-family: "Bitter", serif;
    &::marker {
      content: "\EA6E";
      line-height: 2;
      font-size: 0.9em;
      font-family: remixicon !important;
      font-style: normal;
    }
  }
}

main {
  position: relative;
  width: min(95%, 80ch);
  margin-inline: auto;
  padding: clamp(1.66em, 5%, 4rem);
  background: var(--primary-bg);
  color: var(--primary-txt);
  border-radius: 4px;
}

//Background animations
@keyframes scroll {
  from {
    background-position-y: 0;
    background-position-x: 0;
  }
  to {
    background-position-y: -100vh;
    background-position-x: -50vw;
  }
}
