:root {
  --primary-accent: #434343;
  --secondary-accent: #000000;
  --primary-txt: #fff;
  --secondary-txt: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  position: relative;
  font-size: 16px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: #212121;
  background-image: repeating-radial-gradient(
      circle at 100% 100%,
      transparent 0,
      rgba(255, 255, 255, 0.2) 20vw
    ),
    repeating-linear-gradient(var(--primary-accent), var(--secondary-accent));
  background-attachment: fixed;

  //Mozilla Scrolbars
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;
}
body {
  overflow-y: scroll; // Always show to avoid abrupt layout shift
  overflow-x: hidden;
}
::selection {
  background: #212121;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #fff;
  i {
    font-size: 1.2em;
  }
}

ul {
  padding-left: 1em;
  list-style: none;

  li {
    line-height: 2;
    font-family: "Bitter", serif;
    &::marker {
      content: "\EA6E";
      line-height: 2;
      font-size: 0.9em;
      font-family: remixicon !important;
      font-style: normal;
    }
  }
}

main {
  position: relative;
  width: min(95%, 80ch);
  margin-inline: auto;
  padding: clamp(1.66em, 5%, 4rem);
  background: #fff;
  border-radius: 4px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

@keyframes pulse {
  0% {
    opacity: 0.2;
    border-radius: 50% 0;
  }
  25% {
    border-radius: 25% 25%;
  }
  50% {
    border-radius: 50% 0;
  }
  100% {
    border-radius: 0;
    opacity: 1;
  }
}
