/* You can add global styles to this file, and also import other style files */
:root {
  --primary-txt: #ececec;
  --primary-bg: #151924;
  --primary-ff: "Source Sans Pro", Sans-Serif;
  --secondary-ff: "Playfair Display", serif;
  --asscent: #e6af2e;
  --asscent-light: #f5d061;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary-txt);
  text-decoration: none;
  background-color: transparent;
}
body {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--primary-txt);
  background-color: var(--primary-bg);
}
section {
  margin-inline: auto;
  display:grid;
  place-content: center;
  width: min(90%, 110ch);
  height: calc(100vh - 100px);
  h1 {
    font-family: var(--secondary-ff);
  }
}
