* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  height: 100vh;
  font-size: 16px;
  position: relative;
  background-color: #212121;
  background-image: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5em;
  font-family: "Bitter", serif;
}

h1 {
  font-size: 2.5em;
  width: 100%;
  border-bottom: 1px solid #212121;
}

* + h2,
* + h3 {
  margin-top: 1.5em;
}

code {
  padding: 0 4px;
  font-size: 0.9em;
  font-family: monospace;
  background: hsla(142, 92%, 75%, 0.2);
}
pre code {
  background: none;
  &::selection,
  span::selection {
    background: #341364;
  }
}
blockquote {
  padding: 8px;
  font-size: 0.9em;
  font-style: italic;
  margin-block: 1em;
  border-left: 4px solid #84fab0;
  background: hsla(0, 0%, 13%, 0.02);
}

a {
  text-decoration: none;
  color: #fff;
  i {
    font-size: 1.2em;
  }
}

p + p {
  margin-top: 0.5em;
}
main {
  p {
    font-family: "Bitter", serif;
    letter-spacing: 0.3px;
    line-height: 2;
  }

  a {
    color: initial;
    font-family: inherit;
    border-bottom: 2px solid #212121;
  }

  ul {
    margin-left: 1em;
    list-style: none;

    li {
      line-height: 2;
      font-family: "Bitter", serif;
      &::before {
        content: "\EA6E";
        line-height: 2;
        font-size: 0.9em;
        font-family: remixicon !important;
        font-style: normal;
      }
    }
  }
  *::selection {
    background: #84fab0;
  }
}

.verticle-center {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }
}
